doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  // Bootstrap Grid v5
  link(rel='stylesheet' href='/static/bootstrap.css')
  link(rel='stylesheet' href='/static/style.css')
  title #{.title} - Ali
#page.container-fluid.tj
  .row.position-relative.vh-100.wh-100
    h2.text-center.position-absolute.top-50.start-50.translate-middle
      | Hey! I&apos;m Ali,
      br
      |  I build applications and libraries
      br
      | scroll down, If you are interested in what I
      |                 can do
  .row
    .col-md-6.col-sm-12
      h1.fw-bold Web Applications
      p
        | Gotta Go Faster! by using the fastest and featured frameworks and libraries.
        |  currently for Web Applications backend, i use
        |  <svg version="1.1" width="30" xmlns="http://www.w3.org/2000/svg" x="0" y="0" style="enable-background:new 0 0 260 76" xml:space="preserve" viewBox="0 -0.03 205.39 76.73"><style></style><path style="fill:#00acd7" d="M15.5 23.2c-.4 0-.5-.2-.3-.5l2.1-2.7c.2-.3.7-.5 1.1-.5h35.7c.4 0 .5.3.3.6l-1.7 2.6c-.2.3-.7.6-1 .6l-36.2-.1zM.4 32.4c-.4 0-.5-.2-.3-.5l2.1-2.7c.2-.3.7-.5 1.1-.5h45.6c.4 0 .6.3.5.6l-.8 2.4c-.1.4-.5.6-.9.6l-47.3.1zm24.2 9.2c-.4 0-.5-.3-.3-.6l1.4-2.5c.2-.3.6-.6 1-.6h20c.4 0 .6.3.6.7l-.2 2.4c0 .4-.4.7-.7.7l-21.8-.1z"></path><g id="CXHf1q_3_"><path style="fill:#fff" d="M128.4 21.4c-6.3 1.6-10.6 2.8-16.8 4.4-1.5.4-1.6.5-2.9-1-1.5-1.7-2.6-2.8-4.7-3.8-6.3-3.1-12.4-2.2-18.1 1.5-6.8 4.4-10.3 10.9-10.2 19 .1 8 5.6 14.6 13.5 15.7 6.8.9 12.5-1.5 17-6.6.9-1.1 1.7-2.3 2.7-3.7H89.6c-2.1 0-2.6-1.3-1.9-3 1.3-3.1 3.7-8.3 5.1-10.9.3-.6 1-1.6 2.5-1.6h36.4c-.2 2.7-.2 5.4-.6 8.1-1.1 7.2-3.8 13.8-8.2 19.6-7.2 9.5-16.6 15.4-28.5 17-9.8 1.3-18.9-.6-26.9-6.6-7.4-5.6-11.6-13-12.7-22.2-1.3-10.9 1.9-20.7 8.5-29.3C70.4 8.7 79.8 2.8 91.3.7c9.4-1.7 18.4-.6 26.5 4.9 5.3 3.5 9.1 8.3 11.6 14.1.6.9.2 1.4-1 1.7z"></path><path style="fill:#fff" d="M161.5 76.7c-9.1-.2-17.4-2.8-24.4-8.8-5.9-5.1-9.6-11.6-10.8-19.3-1.8-11.3 1.3-21.3 8.1-30.2 7.3-9.6 16.1-14.6 28-16.7 10.2-1.8 19.8-.8 28.5 5.1 7.9 5.4 12.8 12.7 14.1 22.3 1.7 13.5-2.2 24.5-11.5 33.9-6.6 6.7-14.7 10.9-24 12.8-2.7.5-5.4.6-8 .9zm23.8-40.4c-.1-1.3-.1-2.3-.3-3.3-1.8-9.9-10.9-15.5-20.4-13.3-9.3 2.1-15.3 8-17.5 17.4-1.8 7.8 2 15.7 9.2 18.9 5.5 2.4 11 2.1 16.3-.6 7.9-4.1 12.2-10.5 12.7-19.1z"></path></g></svg>
        |  and
        |  <svg xmlns="http://www.w3.org/2000/svg" width="40" style="enable-background:new 0 0 800 300" xml:space="preserve" viewBox="26.84 58.2 741.61 186.4"><path style="fill:#fff" d="M241.8 69.6h111.7c1.9 0 3.3 1.7 3 3.5l-4.7 27.9c-.2 1.4-1.5 2.5-3 2.5h-71c-1.5 0-2.7 1.1-3 2.5l-4.8 29.4c-.3 1.8 1.1 3.5 3 3.5h61.5c1.9 0 3.3 1.7 3 3.5l-4.7 28c-.2 1.4-1.5 2.5-3 2.5h-63.5c-1.5 0-2.7 1.1-3 2.5l-10.6 64.3c-.2 1.4-1.5 2.5-3 2.5h-35.6c-1.9 0-3.3-1.7-3-3.5L238.8 72c.3-1.4 1.5-2.4 3-2.4zm119.7 43.1h35.1c1.9 0 3.3 1.7 3 3.5l-20.5 123.5c-.2 1.4-1.5 2.5-3 2.5H341c-1.9 0-3.3-1.7-3-3.5l20.5-123.5c.3-1.4 1.6-2.5 3-2.5zm2.5-34.9c1.7-10.8 12.4-19.6 24-19.6s19.9 8.8 18.4 19.6-12.2 19.7-23.9 19.7-20.1-8.9-18.5-19.7zm60.2-8.2h35.1c1.9 0 3.3 1.7 3 3.5l-10.1 61.8h.9c6.7-11.9 20.1-23.8 40.6-23.8 27.1 0 48 20.8 40.4 66.5-7.3 44.1-34.2 66.5-62.9 66.5-19.1 0-28.9-10.4-32.2-22.1-.1-.4-.5-.7-1-.7s-.9.4-1 .8l-2.8 17.6c-.2 1.5-1.5 2.5-3 2.5h-34.7c-1.9 0-3.3-1.7-3-3.5l27.6-166.6c.3-1.5 1.6-2.5 3.1-2.5zM462.3 212c15.2 0 26-13.6 29.3-34.5s-2.7-34.2-18-34.2c-15.1 0-26.1 13.1-29.5 34.2-3.4 21 3.1 34.5 18.2 34.5zm76.5-34c6.7-40.1 36.3-66.9 75.3-66.9 36.8 0 58.7 23.5 51.6 66.1l-1.4 8.7c-.1.9-.9 1.5-1.8 1.5h-83.1c-.9 0-1.7.6-1.8 1.5-2.6 16.4 5.1 26 21.2 26 10.3 0 19.3-4.2 24.2-12.3.3-.6 1-.9 1.6-.9l33.9 1c1.3 0 2.1 1.3 1.6 2.5-9.9 24.1-34 39.4-67.1 39.4-40.5.1-61.2-25.2-54.2-66.6zm89.2-14.5c.9 0 1.7-.7 1.8-1.7 1.2-12.4-6.6-21-19.5-21-12.5 0-23.6 8.7-27.4 20.3-.4 1.2.5 2.4 1.8 2.4H628zm60.3-50.8h33.9c1.9 0 3.3 1.7 3 3.5l-3.4 20.1h1.3c7.7-17.1 20.4-25.3 34.5-25.3 2.8 0 5.6.3 8.4.8 1.6.3 2.7 1.8 2.4 3.5l-5 29.8c-.3 1.7-1.9 2.8-3.6 2.4-3.8-.9-8.9-1.3-12.9-1.3-14.6 0-27.2 10.4-29.9 25.8l-11.2 67.8c-.2 1.4-1.5 2.5-3 2.5h-35.1c-1.9 0-3.3-1.7-3-3.5l20.6-123.5c.3-1.5 1.6-2.6 3-2.6z"/><path style="fill:#00acd7" d="M210.2 115.4H80.8c-1 0-1.9.5-2.5 1.3l-6.5 9.3c-1.4 2 0 4.7 2.5 4.7l134.4-.1c1.5 0 2.7-1.1 3-2.5l1.5-9.2c.3-1.8-1.1-3.5-3-3.5zm-4.7 31.7h-169c-1 0-1.9.5-2.4 1.2l-6.7 9.2c-1.4 2 0 4.8 2.4 4.8l174.2-.1c1.5 0 2.7-1.1 3-2.5l1.5-9.1c.2-1.9-1.2-3.5-3-3.5zm-4.8 31.6h-69.2c-1 0-2 .5-2.5 1.4l-6.1 9.3c-1.3 2 .1 4.6 2.5 4.6l73.8-.1c1.5 0 2.7-1.1 3-2.5l1.5-9.2c.3-1.8-1.1-3.5-3-3.5z"/></svg>
        |  framework
        |  and for frontend i prefer Vanilla
        |  <svg width="15" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 630 630"><path fill="#f7df1e" d="M0 0h630v630H0z"/><path d="M423.2 492.19c12.69 20.72 29.2 35.95 58.4 35.95 24.53 0 40.2-12.26 40.2-29.2 0-20.3-16.1-27.49-43.1-39.3l-14.8-6.35c-42.72-18.2-71.1-41-71.1-89.2 0-44.4 33.83-78.2 86.7-78.2 37.64 0 64.7 13.1 84.2 47.4l-46.1 29.6c-10.15-18.2-21.1-25.37-38.1-25.37-17.34 0-28.33 11-28.33 25.37 0 17.76 11 24.95 36.4 35.95l14.8 6.34c50.3 21.57 78.7 43.56 78.7 93 0 53.3-41.87 82.5-98.1 82.5-54.98 0-90.5-26.2-107.88-60.54zm-209.13 5.13c9.3 16.5 17.76 30.45 38.1 30.45 19.45 0 31.72-7.61 31.72-37.2v-201.3h59.2v202.1c0 61.3-35.94 89.2-88.4 89.2-47.4 0-74.85-24.53-88.81-54.075z"/></svg>
        |  and
        |  <svg xmlns="http://www.w3.org/2000/svg" width="20" viewBox="0 0 547.8 410.6" xml:space="preserve"><path fill="#CD6799" d="M471.4 236c-19.1.1-35.7 4.7-49.6 11.5-5.1-10.1-10.2-19.1-11.1-25.7-1-7.7-2.2-12.4-1-21.6 1.2-9.2 6.6-22.3 6.5-23.3s-1.2-5.7-12.2-5.8c-11-.1-20.5 2.1-21.6 5-1.1 2.9-3.2 9.5-4.6 16.3-1.9 10-22 45.7-33.5 64.4-3.7-7.3-6.9-13.7-7.6-18.8-1-7.7-2.2-12.4-1-21.6 1.2-9.2 6.6-22.3 6.5-23.3-.1-1-1.2-5.7-12.2-5.8-11-.1-20.5 2.1-21.6 5-1.1 2.9-2.3 9.7-4.6 16.3-2.3 6.6-29 66.2-36 81.6-3.6 7.9-6.7 14.2-8.9 18.5s-.1.3-.4.8c-1.9 3.7-3 5.7-3 5.7v.1c-1.5 2.7-3.1 5.2-3.9 5.2-.6 0-1.7-7.2.2-17 4-20.7 13.5-52.9 13.4-54 0-.6 1.8-6.2-6.2-9.1-7.8-2.9-10.6 1.9-11.3 1.9-.7 0-1.2 1.7-1.2 1.7s8.7-36.2-16.6-36.2c-15.8 0-37.6 17.3-48.4 32.9-6.8 3.7-21.3 11.6-36.8 20.1-5.9 3.3-12 6.6-17.7 9.7-.4-.4-.8-.9-1.2-1.3-30.6-32.7-87.2-55.8-84.8-99.7.9-16 6.4-58 108.7-109 84.2-41.5 151.2-30 162.8-4.5 16.6 36.4-35.9 104-122.9 113.8-33.2 3.7-50.6-9.1-55-13.9-4.6-5-5.3-5.3-7-4.3-2.8 1.5-1 6 0 8.6 2.6 6.8 13.3 18.8 31.4 24.7 16 5.2 54.9 8.1 102-10.1 52.7-20.4 93.9-77.1 81.8-124.6C330.7 2 250.7-13.9 175 13 130 29 81.2 54.2 46.1 87 4.4 126-2.2 159.9.5 174.1c9.7 50.4 79.2 83.2 107 107.5-1.4.8-2.7 1.5-3.8 2.1-13.9 6.9-66.9 34.6-80.1 63.9-15 33.2 2.4 57 13.9 60.2 35.7 9.9 72.4-7.9 92.1-37.3 19.7-29.4 17.3-67.6 8.2-85.1-.1-.2-.2-.4-.4-.6 3.6-2.1 7.3-4.3 10.9-6.4 7.1-4.2 14.1-8.1 20.1-11.3-3.4 9.3-5.9 20.4-7.1 36.4-1.5 18.8 6.2 43.2 16.3 52.8 4.5 4.2 9.8 4.3 13.2 4.3 11.8 0 17.1-9.8 23-21.4 7.2-14.2 13.7-30.7 13.7-30.7s-8.1 44.6 13.9 44.6c8 0 16.1-10.4 19.7-15.7v.1s.2-.3.6-1c.8-1.3 1.3-2.1 1.3-2.1v-.2c3.2-5.6 10.4-18.3 21.1-39.4 13.8-27.2 27.1-61.2 27.1-61.2s1.2 8.3 5.3 22.1c2.4 8.1 7.4 17 11.4 25.6-3.2 4.5-5.2 7-5.2 7l.1.1c-2.6 3.4-5.4 7.1-8.5 10.7-10.9 13-23.9 27.9-25.7 32.2-2.1 5.1-1.6 8.8 2.4 11.8 2.9 2.2 8.1 2.5 13.4 2.2 9.8-.7 16.7-3.1 20.1-4.6 5.3-1.9 11.5-4.8 17.3-9.1 10.7-7.9 17.2-19.2 16.6-34.1-.3-8.2-3-16.4-6.3-24.1 1-1.4 1.9-2.8 2.9-4.2 16.9-24.7 30-51.8 30-51.8s1.2 8.3 5.3 22.1c2 7 6.1 14.6 9.7 22-15.9 12.9-25.7 27.9-29.2 37.7-6.3 18.2-1.4 26.4 7.9 28.3 4.2.9 10.2-1.1 14.6-3 5.6-1.8 12.2-4.9 18.5-9.5 10.7-7.9 21-18.9 20.4-33.8-.3-6.8-2.1-13.5-4.6-20 13.5-5.6 30.9-8.7 53.1-6.1 47.6 5.6 57 35.3 55.2 47.8-1.8 12.5-11.8 19.3-15.1 21.4-3.3 2.1-4.4 2.8-4.1 4.3.4 2.2 2 2.1 4.8 1.7 3.9-.7 25-10.1 25.9-33.1 1.5-29.4-26.5-61.5-76-61.2zM104.2 359.8C88.4 377 66.4 383.5 56.9 378c-10.2-5.9-6.2-31.3 13.2-49.5 11.8-11.1 27-21.4 37.1-27.7 2.3-1.4 5.7-3.4 9.8-5.9.7-.4 1.1-.6 1.1-.6l2.4-1.5c7.1 26 .3 48.9-16.3 67zm115-78.2c-5.5 13.4-17 47.7-24 45.8-6-1.6-9.7-27.6-1.2-53.3 4.3-12.9 13.4-28.3 18.7-34.3 8.6-9.6 18.1-12.8 20.4-8.9 2.9 5.1-10.5 42.3-13.9 50.7zm94.9 45.4c-2.3 1.2-4.5 2-5.5 1.4-.7-.4 1-2 1-2s11.9-12.8 16.6-18.6c2.7-3.4 5.9-7.4 9.3-11.9v1.3c0 15.3-14.8 25.6-21.4 29.8zm73.2-16.7c-1.7-1.2-1.4-5.2 4.3-17.7 2.2-4.9 7.4-13.1 16.3-21 1 3.2 1.7 6.3 1.6 9.2-.1 19.3-13.9 26.5-22.2 29.5z"/></svg>
        |  with lightweight libraries, i
        |  hate frameworks like
        |  React, Angular, Vue and etc.
    .col-md-6.col-sm-12
      h1.fw-bold Native Apps
      p
        | A cross-platform application is very efficient. using the
        |  <svg xmlns="http://www.w3.org/2000/svg" width="18" viewBox="0 0 166 202"><defs><linearGradient id="b"><stop offset="20%" stop-opacity=".55"/><stop offset="85%" stop-color="#616161" stop-opacity=".01"/></linearGradient><linearGradient id="a" x1="0%" x2="0%" y1="0%" y2="100%"><stop offset="20%" stop-opacity=".15"/><stop offset="85%" stop-color="#616161" stop-opacity=".01"/></linearGradient></defs><path fill="#42A5F5" fill-opacity=".8" d="M37.7 128.9 9.8 101l90.6-90.6h55.8m0 83.6h-55.8l-20.9 20.9 27.9 27.9"/><path fill="#0D47A1" d="m79.5 170.7 20.9 20.9h55.8l-48.8-48.8"/><path fill="#42A5F5" d="m51.662 142.816 27.86-27.86 27.86 27.86-27.86 27.86z"/><path fill="url(#a)" d="M59.8 162.5h39.4v5.5H59.8z" transform="rotate(-45.001 79.53 142.782)"/><path d="m79.5 170.7 41.4-14.3-13.5-13.6" fill="url(#b)"/></svg>
        |  , currently flutter is
        |  the best toolkit for developing native applications for mobile and desktop (soon)
  .row
    .col-md-6.col-sm-12
      h1.fw-bold Embedded Systems
      p
        | Embedded systems are combinations of hardware and software, this is realy cool for the
        |  developers like me they love hardware and embeddable programming languages like
        |  <svg width="15" xmlns="http://www.w3.org/2000/svg" xml:space="preserve" viewBox="193.05 109.01 337.78 369.46"><path d="M432.623 250.586s-5.446-50.776-55.826-52.186c-50.38-1.41-76.254 38.082-76.254 94.499 0 56.417 28.595 101.553 77.614 101.553 49.02 0 54.466-56.417 54.466-56.417l93.953 5.641s5.532 50.954-33.784 89.829c-39.317 38.872-87.575 45.223-121.276 44.959-33.701-.269-80.427.528-125.613-45.752-45.186-46.28-52.854-91.239-52.854-135.403 0-44.166 8.569-102.673 62.296-147.04 36.514-30.148 73.529-41.256 110.55-41.256 154.551 0 164.931 142.544 164.931 142.544l-98.203-.971z" style="fill:#a8b9cc"/></svg>
        |  , the best for working on embdeddable devices.
    .col-md-6.col-sm-12
      h1.fw-bold Software optimization
      p
        | improving existing code, server and base of anything related to computers is fun for me and yes
        |  i want to get money from anything &macr;\_(&deg;-&deg;)_/&macr;.
  .row
    .col-md-6.col-sm-12
      h1.fw-bold Biography
      p
        | since i was 4, i spent several hours of my day behind a computer, and all i did
        |  was playing games. i did not have access to the internet until I was 10.
        |  After a while I decided to know more about computers. started with learning C# and then
        |  interested
        |  to create games. my next big occurrence was Vlang, it&apos;s also called Vaporware but thank you
        |  Alex, V helped me to know about low-level stuff and moved me here and now i hope to have a job or
        |  project even when school takes most of the my time.
    .col-md-6.col-sm-12
      h1.fw-bold Skills
      .row.row-cols-3
        .p-2.col
          .skill.col-2(level='2') Zig
        .p-2.col
          .skill.col-2(level='2') C/C++
        .p-2.col
          .skill.col-2(level='2') Javascript
        .p-2.col
          .skill.col-2(level='2') Go
        .p-2.col
          .skill.col-2(level='1') Rust
        .p-2.col
          .skill.col-2(level='1') C#
        .p-2.col
          .skill.col-2(level='0') Python
  .row.position-relative.wh-100
    h1.fw-bold Contact (deal) with me
    p
      | send your message to 
      a.mail(href='mailto:{{.email}}') #{.email}
      |                 or 
      a.discord #{.discord}
      |  on Discord
script(src='static/dom.js')
